<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./hello.css" />
    <title>List</title>
  </head>
  <body>
    <div class="container">
      <div>
        <ul class="list">

        </ul>
      </div>
      <div>
        <button onclick="insertElement()" name="Insert" type="submit"></button>
    </div>
  </body>
</html>
